<template>
  <div id="app">
    <div class="row">
      <ListCars/>
    </div>
  </div>
</template>

<script>
import ListCars from './components/ListCars.vue'

export default {
  name: 'App',
  components: {
    ListCars
  }
}
</script>

<style lang="scss">
@import './assets/scss/app.scss';
</style>
